.todo{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0px;
    border: none;
    border-radius: 10px;
    background-color:antiquewhite

}
.container{
    padding: 0px;
}

fa-icon{
    font-size: large;
    margin-left: 20px;
}

.on-icon:hover{
    cursor:pointer;
}

a{
    color: black;
    text-decoration: none;
}